.hero {
  width: 100%;
  flex-shrink: 0;
  background: #1c2634;
  display: block;
  padding-top: 30px;
  height: 300px;
}

.welcome-message {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.72px;
  margin-top: 0;
  display: block;
}

.all-hero {
  margin-left: 40px;
}

.arrow-overview {
  display: flex;
}

.hero-p {
  color: #a2a6aa;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
  margin-top: 10px;
}

.hero-p-span {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.28px;
  margin-left: 5px;
}

.arrow-right {
  margin-left: 5px;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.hero-link {
  text-decoration: none;
}

.hero-p-2 {
  color: #a2a6aa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.hero-p-2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.hero-p-2.active {
  color: white;
}

.hero-p-2.active::after {
  background-color: #31b099;
}

.hero-p-all {
  display: flex;
  gap: 40px;
}

.date-picker-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

.date-picker-button {
  background-color: #2c3441;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  width: auto;
  margin-right: 20px;
}

.date-picker-button:hover {
  background-color: #3a4554;
}

.calendar-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  color: white;
}

.date-placeholder {
  color: #ffffff;
}

.date-picker-popover {
  padding: 0;
  width: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.p2-date {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .welcome-message {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.4px;
    margin-top: 30px;
  }
}
