/* Reset container */
.reset-container {
  background-color: #1a1c1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-box {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 480px;
}

.reset-right {
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: 170px;
}

.arrowleft {
  cursor: pointer;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.reset-title,
.reset-title2 {
  color: #1a1c1e;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.reset-description,
.reset-description2 {
  color: #6c7278;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.resetlabel {
  color: #acb5bb;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
}

.reset-input {
  width: 100%;
  height: 62px;
  padding: 27px 24px;
  border-radius: 15px;
  border: 1px solid #dce4e8;
  background: #fff;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 10px;
}

/* Buttons */
.reset-button,
.reset-button2 {
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  border-radius: 14px;
  background: #31b099;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #fff;
  margin-top: 30px;
}

.reset-error {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.success-box h2 {
  color: green;
}

.success-box p {
  text-align: center;
  color: #333;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .reset-container {
    display: block;
  }

  .forgetbackground {
    width: 355px;
    height: 525px;
    margin-left: -10px;
    margin-top: -10px;
  }

  .reset-right {
    margin-top: 0;
    margin-left: 0px;
  }

  .reset-box {
    width: 327px;
    height: 100%;
    border-radius: 16px;
    background: #fff;
  }

  .reset-title {
    color: #1a1c1e;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.72px;
  }

  .reset-description {
    color: #6c7278;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.28px;
  }

  .resetlabel {
    color: #acb5bb;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.24px;
  }

  .reset-input {
    height: 62px;
    padding: 27px 24px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #dce4e8;
    background: #fff;
  }

  .reset-button {
    height: 48px;
    padding: 12px 24px;
    border-radius: 14px;
    background: #31b099;
  }

  .reset-error {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .reset-container {
    padding: 15px;
  }

  .reset-box {
    padding: 15px;
  }

  .reset-title,
  .reset-title2 {
    font-size: 24px;
  }

  .reset-description,
  .reset-description2 {
    font-size: 10px;
  }

  .reset-input {
    height: 45px;
    font-size: 12px;
  }

  .reset-button,
  .reset-button2 {
    font-size: 12px;
    padding: 10px 18px;
  }

  .reset-error {
    font-size: 10px;
  }
}
